# Dependencies
node_modules/

# Build
dist/

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Test
test/
